#logo {
    text-align: center;
    margin-top: 200px;
}
#text_bar_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
}
#text_bar {
    width: 30em;
    height: 40px;
    font-size: 18px;
}
#about {
    font-family: Arial;
    font-size: 14px;
    position: fixed;
    top: 20px;
    left: 15px;
    text-decoration: none;
}
#store {
    font-family: Arial;
    font-size: 14px;
    position: absolute;
    top: 20px;
    left: 80px;
    text-decoration: none;
}
#gmail {
    font-family: Arial;
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 90px;
    text-decoration: none;
}
#images {
    font-family: Arial;
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 15px;
    text-decoration: none;
}
a {
    color: #000000;
}
a:hover {
    color: #3c3c3c;
}
.button {
    background-color: #f2f2f2;
    color: #666666;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 15px;
    width: 125px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    
}
.button:hover {
    border: 1px solid #d0d0d0;
}
#button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
}
#footer {
    background-color: #f2f2f2;
    border-top: 1px solid #d0d0d0;
    width: 80em;
    height: 45px;
    position: fixed;
    left: 0px;
    bottom: 0px;
}
#advertising {
    font-family: Arial;
    font-size: 14px;
    position: fixed;
    bottom: 15px;
    left: 15px;
    text-decoration: none;
}
#business {
    font-family: Arial;
    font-size: 14px;
    position: fixed;
    bottom: 15px;
    left: 110px;
    text-decoration: none;
}
#privacy {
    font-family: Arial;
    font-size: 14px;
    position: fixed;
    bottom: 15px;
    right: 150px;
    text-decoration: none;
}
#terms {
    font-family: Arial;
    font-size: 14px;
    position: fixed;
    bottom: 15px;
    right: 90px;
    text-decoration: none;
}
#settings {
    font-family: Arial;
    font-size: 14px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    text-decoration: none;
}